body {
    margin: 0;
    padding: 0;
    background: lightblue;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Arial;
}
#stage {
    overflow: hidden;
}
.balloon {
    position: absolute;
    background: lightcoral;
    border-radius: 40px;
    width: 80px;
    height: 80px;
    cursor: crosshair;
    bottom: 0;
    left: 0;
}
#score-board {
    margin: 0;
    padding: 10px;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    background: #333;
    list-style: none;
    border-bottom-left-radius: 5px;
}

#score-board .score {
    border-radius: 3px;
    padding: 3px 6px;
    margin-right: 5px;
}